<!DOCTYPE html>
<html lang="en">
  <head>
    <%include partials/_header.ejs %>
  </head>
<body>
 <!-- Write EJS code here to display shortened links -->


	 <% for (var key in urls) { %>
		<div style="display: inline-block;"> <%= key %> : <%= urls[key] %> </div>
		<div style="display: inline-block;"> <form method="POST" action="/urls/<%= key %>/delete">
			
		<input type="submit" value="Delete!"> 

		</form>


		</div><br>
		<% } %>
			
		<div><a href="/">Shorten a url here! I hope. </a></div>

	


</body>
</html>


