<!DOCTYPE html>
<html lang="en">
  <head>
    <%include partials/_header.ejs %>
  </head>
<body>
 <!-- Write EJS code here to display shortened links -->
<h2> TeenyWeeny App </h2>

	<p>ShortURL: <%=shortURL%> </p>
	
	<form action="/urls/<%=shortURL%>" method="POST">

	<br>
	<label for="longURL">updated url</label>
  <input type="text" name="longURL" id="longURL"><br>
  <input type="submit" value="Update">
  
	</form>

</body>
</html>

