<!DOCTYPE html>
<html lang="en">
  <head>
    <%include partials/_header.ejs %>
  </head>
<body>
 <!-- Write EJS code here to display shortened links -->
<h2> Teeny App </h2>

<p> this is <%=shortURL%> </p>


</body>
</html>